h3{
color:#fff;
padding:10px;
background:#333;
cursor:pointer;
}
h3 span{
display:block;
background:url(Down.png) no-repeat right 50%;
}
h3.bg02 span{
background:url(Up.png) no-repeat right 50%;
}
div{
padding:20px;
display:none;
}
